%button_style {
    background: $main-color;
    color: $main-color-dark;
    padding: 10px 25px;
    font-size: 1rem;
    border-style: none;
}
%input_style {
    outline-style: none;
    width: 450px;
    margin-bottom: 2%;
    font-size: 1rem;
    padding: 1.5%;
}