%button_style {
    background: $main-color;
    color: $main-color-dark;
    padding: 10px 25px;
    font-size: .5rem;
    border-style: none;
}
%input_style {
    outline-style: none;
    width: 250px;
    margin-bottom: 2%;
    font-size: .5rem;
    padding: 1.5%;
}