@import 'variables';
@import 'blaupause';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&family=Tinos:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; 
font-family: 'Tinos', serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
  background-color: $main-color-dark;
  color: $main-color-white;
}
.navigation {
    padding: 2%;
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    li a {
        text-decoration: none;
        color: $main-color-white;
    }
  }
}
/* -----Main---------- */
.head {
  background: url(./img/HomeHeader.png) center/ cover no-repeat;
  min-height: 70vh;
  text-align: center;
  padding-top: 15%;
  h1 {
    font-family: 'Tinos', serif;
    line-height: 4.5rem;
    font-size: 4rem;
    span {
      font-family: 'Tinos', serif;
      display: block;
      font-size: 7.5rem;
    } 
  }
}
input[type=button] {
  @extend%button_style
}
.pop-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  figure img {
    width: 50vw;
  }
  article {
    padding: 0 7%;
    h4 {
      font-weight: 200;
      font-size: 1rem;
    }
    h2 {
      font-weight: 300;
      font-size: 3.5rem;
      padding-top: 2%;
      line-height: 3.2rem;
    }
    p {
      font-weight: 300;
      font-size: 1.5rem;
      padding: 4% 0;
    }
  }
}
.events {
  background: $main-color;
  .events-head {
    padding: 10% 3%;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .event-item {
    display: flex;
    padding-bottom: 10%;
    figure {
      position: relative;
      img {
        width: 350px;
        height: 300px;
        object-fit: cover;
        margin: 0 10%;
    } figcaption {
      position: absolute;
      top: 110px;
      left: 150px;
      font-size: 2rem;
      text-align: center;
      font-weight: 500;
    }
    }
  } h3 {
    margin-left: 10%;
    font-weight: 300;
    font-size: 1rem;
    padding: 3% 0;
    text-transform: uppercase;
  } p {
    margin-left: 10%;
    color: $main-color-dark;
    font-size: 1rem;
    width: 80%;
  }
}
.drinks {
  text-align: center;
  
  .drink-item {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    figure {
      border: 1px solid $main-color-white;
      padding: 6%;
      height: 73vh;
      width: 50vw;
      img {
        width: 300px;
        height: 400px;
        object-fit: cover;
      }
      figcaption {
        width: 80%;
        h4 {
          font-weight: 300;
          font-size: 1.2rem;
          margin-left: 20%;
        }
        p {
          font-weight: 300;
          font-size: .7rem;
          padding-top: 7%;
          margin-left: 20%;
        }
      }
    }
    
  }
}

/* -----Shop----------- */
.open-img {
  background: url(./img/ShopHeader.png) center/ cover no-repeat;
  height: 70vh;
}
.coming-soon {
  height: 70vh;
  background: $main-color;
  text-align: center;
  h1 {
    font-size: 3rem;
    color: $main-color-dark;
    font-weight: 400;
    padding-top: 15%;
    span {
      display: block;
      font-weight: bold;
    }
  }
}
/* -----Contact-------- */
.flex-article {
  display: flex;
  .experience {
    width: 50%;
    background: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    h4 {
      font-size: 1.3rem;
      font-weight: 300;
      color: $main-color-dark;
    }
    h1 {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 3rem;
      padding: 4% 0;
      span {
        display: block;
      }
    }
    p {
      font-size: 1.1rem;
      font-weight: 300;
      color: $main-color-dark;
      width: 70%;
    }
  }
  .pic-bar {
    background: url(./img/ContactRectangle.png) center/ cover no-repeat;
    height: 50vh;
    width: 50%;
  }
}
.map {
  background: url(./img/ContactRectangle2.png) center/ cover no-repeat;
  height: 60vh;
  h1 {
    background: $main-color;
    width: 400px;
    padding: 3%;
    position: relative;
    top: 40%;
    left: 30%;
    font-size: 2.5rem;
    text-align: center;
  }
}
.contact-input {
  display: flex;
  background: $main-color;
  padding: 7%;
  article {
    width: 50%;
    h3 {
      font-weight: 300;
      font-size: 1rem;
      color: $main-color-dark;
    }
    p {
      font-weight: 300;
      font-size: 2rem;
      line-height: 2rem;
      padding: 3% 0 7% 0;
    }
    table tr th {
      font-weight: 400;
      font-size: 1.2rem;
      color: $main-color-dark;
      padding-bottom: 5%;
    } td {
      font-size: .9rem;
      font-weight: 300;
    }
  }
  form {
    width: 50%;
    input {
      @extend%input_style
    }
    textarea {
      font-size: 1rem;
      padding: 1.5%;
      outline-style: none;
    }
    input[type=button] {
      background: $main-color-dark;
      color: $main-color-white;
      width: 100px;
      font-size: 1rem;
    }
  }
}
/* -----Footer-------- */
.footer {
  background-color: $main-color-dark;
  color: $main-color-white;
}
.contact {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $main-color-white;
  font-size: 1.5rem;
  padding: 5% 0;
  div img {
    width: 70%;
    margin-left: 10%;
  }
  th {
    color: $main-color;
    text-align: left;
    padding-bottom: 2%;
    font-weight: 300;
  }
  td {
    font-size: .7rem;
    font-weight: 300;
    padding-right: 60px;
  }
}

.footerImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3% 0;
  .woman img{
    width: 50%;
    margin-left: 80%;
  }
  .socialMedia a img {
    width: 30%;
    margin-right: 15%;
  }
}
